.main-info {
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px 10px #606060;
    display: flex;
    justify-content: center;
    align-items: center;
    .temp {
        font-size: 100px;
        margin-bottom: 0;
    }
    .name {
        font-size: 60px;
        margin-top: 0;
    }
}

@media only screen and (max-width: 1199px) {
    .main-info {
        height: 60vh;
    }
}

@media only screen and (min-width: 1200px) {
    .main-info {
        height: 64vh;
    }
}