<div
  class="weather-bg"
  [ngStyle]="{ 'background-image': 'url(' + weatherBg + ')' }"
>
  <div class="searcher">
    <app-searcher (parentWeather)="setBgWeather($event)"></app-searcher>
    <div class="container mt-2">
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="isCelsius = !isCelsius"
      >
        {{ isCelsius ? "°F" : "°C" }}
      </button>
    </div>
  </div>
  <div class="content" *ngIf="weatherBg == '../assets/images/default.jpg'">
    <p>
      Search a city and click on the icon to see the weather for that location!
    </p>
  </div>
  <div class="weather">
    <app-weather [changeDegrees]="isCelsius"></app-weather>
  </div>
  <div class="details">
    <app-details [changeDegrees]="isCelsius"></app-details>
  </div>
</div>
